Flask
googlesearch-python
speechrecognition
gtts
playsound
pyautogui
pyaudio
youtube-search-python
pafy
youtube-dl
feedparser
google-search
googletrans==3.1.0a0
speedtest-cli
opencv-python
numpy
jokeapi
