<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD CUSTOM SERVER</title>
</head>
<body>
    <form action="/process/[ADD CUSTOM VOICE COMMAND TO SEND TO A SERVER]" method="post">
        <div>
            <label for="ip_addr">IP</label>
            <input type="text" id="ip_addr" name="ip_addr">
        </div>
        <br>
        <div>
            <label for="port">PORT</label>
            <input type="text" id="port" name="port">
        </div>
        <br>
        <div>
            <label for="command">VOICE COMMAND</label>
            <input type="text" id="command" name="command">
        </div>
        <br>
        <div>
            <label for="msg">MESSAGE TO SEND</label>
            <textarea id="msg" name="msg"></textarea>
        </div>
        <br><br>
        <div class="button">
            <button type="submit">Enregistrer la commande</button>
        </div>
    </form>
</body>
</html>