<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <title>ADD REMINDER</title>
</head>
<body>

    <form method="POST" class="mx-5 my-5">
        <label for="time">Choose your wake-up day ;) (month and year will not be taken)</label>
        <input id="date" type="date" name="date">
        <br>
        <label for="time">Select a wake-up Hour :D</label>
        <input name="time" id="time" type="time" required>
        <br>
        <label for="wakeup_music">Enter a youtube music URL as ringtone for your wake-up ;)</label>
        <input type="url" name="wakeup_music" id="wakeup_music" required>
        <br>
        <input type="submit">

    </form>
<hr>
    <form method="POST" class="mx-5 my-6 mt-5">
        <h4>NOT WORKING YET</h4>
        <label for="time">Select a reminder Hour and day :D</label>
        <input name="time" id="time" type="time" required>
        <input type="week" name="week" id="week" required>
        <label for="reminder_sentence">Type something that I will say to remind you ! :D</label>
        <input type="text" name="reminder_sentence" id="reminder_sentence" required>
        <input type="submit">
    </form>

    
</body>



</html>