<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD RSS FEED</title>
</head>
<body>
    <form action="/process/[ADD RSS FEED]" method="post">
        <div>
            <label for="url">URL OF THE RSS FEED</label>
            <input type="text" id="url" name="url">
        </div>
        <br>
        <div>
            <label for="command">FEED CATEGORY</label>
            <input type="text" id="command" name="command">
        </div>
        <br><br>
        <div class="button">
            <button type="submit">Enregistrer flux d'informations</button>
        </div>
    </form>
</body>
</html>