<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAKE BLUE MORE SKILLED :D</title>
</head>
<body>
    <form action="/process/[ADD BLUE SKILL]" method="post" enctype="multipart/form-data">
        <h1>Import a Blue skill writen in python : </h1>
        <input type="file" name="file">
        <div>
            <label for="voice_command">Command that will trigger this skill :</label>
            <input type="text" id="voice_command" name="voice_command">
        </div>
        <input type="submit" value="Upload">
    </form>
</body>
</html>