<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLUE CONFIG</title>
</head>
<body>
    <ul>
        <li><button onclick="window.location.href='/action/[ADD IROBOT CLEANER]'">ADD IROBOT CLEANER</button><button onclick="window.location.href='/action/[MANAGE IROBOT CLEANER]'">MANAGE IROBOT CLEANER</button></li>
        <br><br>
        <li><button onclick="window.location.href='/action/[ADD WEBSITE VOICE COMMAND]'">ADD WEBSITE VOICE COMMAND</button><button onclick="window.location.href='/action/[MANAGE WEBSITE VOICE COMMAND]'">MANAGE WEBSITE VOICE COMMAND</button></li>
        <br><br>
        <li><button onclick="window.location.href='/action/[ADD CUSTOM VOICE COMMAND TO SEND TO A SERVER]'">ADD CUSTOM VOICE COMMAND TO SEND TO A SERVER</button><button onclick="window.location.href='/action/[MANAGE CUSTOM VOICE COMMAND TO SEND TO A SERVER]'">MANAGE CUSTOM VOICE COMMAND TO SEND TO A SERVER</button></li>
        <br><br>
        <li><button>ADD CONTACT</button><button>MANAGE CONTACT</button></li>
        <br><br>
    
    </ul>
    
</body>
</html>