<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLUE CONFIG</title>
</head>
<body>
    <button onclick="window.location.href='/action/[ADD IROBOT CLEANER]'">ADD IROBOT CLEANER</button>
    <br><br>
    <button onclick="window.location.href='/action/[ADD WEBSITE VOICE COMMAND]'">ADD WEBSITE VOICE COMMAND</button>
    <br><br>
    <button onclick="window.location.href='/action/[ADD CUSTOM VOICE COMMAND TO SEND TO A SERVER]'">ADD CUSTOM VOICE COMMAND TO SEND TO A SERVER</button>
    <br><br>
</body>
</html>