<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MANAGE CUSTOM WEBSITE</title>
</head>
<body>
    <ul>
        {%for i in range(lenght)%}
            <li>{{array[i]['url']}} - voice command : {{array[i]['voice_command']}}<button onclick="window.location.href='/process/[DELETE WEBSITE]?website_id={{i}}'">remove this website</button></li>
        {%endfor%}
        
    </ul>
    
    
    
</body>
</html>