<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MANAGE RSS FEED</title>
</head>
<body>
    <ul>
        {%for i in range(lenght)%}
            {%if feeds[i]['url'] != ""%}
                
                <li>{{feeds[i]['url']}}<button onclick="window.location.href='/process/[DELETE RSS FEED]?feed_id={{i}}'">remove this news feed</button></li>

            {%endif%}
        {%endfor%}
        
    </ul>
    
</body>
</html>